<div class="list-group">
    <a href="/user/profile" class="list-group-item list-group-item-action sidebar-link {% if active_page == 'profile' %}active{% endif %}">
        <i class="bi bi-person-lines-fill me-1"></i>账户设置
    </a>
    <a href="/user/consume_history" class="list-group-item list-group-item-action sidebar-link {% if active_page == 'consume_history' %}active{% endif %}">
        <i class="bi bi-clock-history me-1"></i>消费历史
    </a>
    <a href="/user/change_password" class="list-group-item list-group-item-action sidebar-link {% if active_page == 'change_password' %}active{% endif %}">
        <i class="bi bi-shield-lock me-1"></i>修改密码
    </a>
    <a href="/user/charge" class="list-group-item list-group-item-action sidebar-link {% if active_page == 'charge' %}active{% endif %}">
        <i class="bi bi-currency-yen me-1"></i>充值
    </a>
    <a href="/user/message" class="list-group-item list-group-item-action sidebar-link {% if active_page == 'message' %}active{% endif %}">
        <i class="bi bi-chat-dots me-1"></i>消息
    </a>
</div>
